 /* seletor {
propriedade: valor;
}  

p{
 color: blueviolet;
}

seletor{  
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}  */ 

p{
    color: crimson;
}